jats/publishing/1.0/JATS-format1.ent

<!-- ============================================================= -->
<!--  MODULE:    Formatting Element Classes                        -->
<!--  VERSION:   ANSI/NISO JATS Version 1.0 (Z39.96-2012)          -->
<!--  DATE:      March 2012                                        -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
 "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Formatting Element Classes v1.0 20120330//EN"
  Delivered as file "JATS-format1.ent"                             -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite                                    -->
<!--                                                               -->
<!-- PURPOSE:    Elements concerned with rendition of output, for  -->
<!--             example printing on a page or display on a screen -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This module was created for the JATS DTD Suite.   -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of journal literature or     -->
<!--             related material for archiving and transferring   -->
<!--             such material between archives or create a        -->
<!--             custom XML DTD from the Suite for                 -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the JATS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the ANSI/NISO Z39.96 Journal Article Tag   -->
<!--                    Suite (JATS)."                             -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the ANSI/NISO Z39.96 Journal Article -->
<!--                    Tag Suite (JATS)."                         -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96   -->
<!--             Working Group. Mulberry Technologies was          -->
<!--             supported by National Center for Biotechnology    -->
<!--             Information (NCBI), a center of the US National   -->
<!--             Library of Medicine (NLM).                        -->
<!--                                                               -->
<!--             This module is part of the JATS DTD Suite. The    -->
<!--             Suite is a continuation of work done by NCBI,     -->
<!--             Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--             Journal Archiving and Interchange DTD Suite, which-->
<!--             was originally released in December, 2002.        -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Inera Inc.'s collaboration with other DTD         -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
   
     ANSI/NISO Z39.96-2012 (Version 1.0) 

     Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
     RNGs and supporting documentation are available at
           http://jats.nlm.nih.gov/1.0/
   
  6. Updated the DTD-version attribute to "1.0" and the formal
     public identifier to the date: "v1.0 20120330//EN".

     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, the version number that would
     have been "NLM Version 3.1 Draft" has become NISO JATS
     "Version 0.4".

     Details on NISO Trial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
  5. Updated the DTD-version attribute to "0.4" 
   
  4. Updated the public identifier to "v0.4 20110131", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".
           http://jats.nlm.nih.gov/0.4.

  3. @SPECIAL-USE - Added the attribute @special-use to the
     all 14 formatting (emphasis) elements. This includes all the
     ones listed in 3. below as well as:
       - sub             sub-atts  overline-atts
       - sup             sup-atts
       - overline-start  overline-start-atts
       - overline-end    overline-start-atts
       - underline       underline-atts
       - underline-start underline-start-atts
       - underline-end   underline-end-atts

  2. PES FOR ATTLISTS - Added parameter entity redefinitions for the
     attribute lists of the following elements: (no attributes or
     values were changed)
       - bold            bold-atts       NEW PE
       - italic          italic-atts     NEW PE
       - monospace       monospace-atts  NEW PE
       - roman           roman-atts      NEW PE
       - sans-serif      sans-serif-atts NEW PE
       - sc              sc-atts         NEW PE
       - strike          strike-atts     NEW PE

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://dtd.nlm.nih.gov/3.0.

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOLD ATTRIBUTES                            -->
<!--                    Attributes for the <bold> element          -->
<!ENTITY % bold-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    ITALIC ATTRIBUTES                          -->
<!--                    Attributes for the <italic> element        -->
<!ENTITY % italic-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    MONOSPACE ATTRIBUTES                       -->
<!--                    Attributes for the <bold> element          -->
<!ENTITY % monospace-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    OVERLINE START ATTRIBUTES                  -->
<!--                    Attributes for the <overline> element      -->
<!ENTITY % overline-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    OVERLINE START ATTRIBUTES                  -->
<!--                    Attributes for the <overline-start> element-->
<!ENTITY % overline-start-atts
            "id         ID                                #REQUIRED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    OVERLINE END ATTRIBUTES                    -->
<!--                    Attributes for the <overline-end> element  -->
<!ENTITY % overline-end-atts
            "rid        IDREF                             #REQUIRED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    ROMAN ATTRIBUTES                           -->
<!--                    Attributes for the <roman> element         -->
<!ENTITY % roman-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SANS SERIF ATTRIBUTES                      -->
<!--                    Attributes for the <sans-serif> element    -->
<!ENTITY % sans-serif-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SMALL CAPS ATTRIBUTES                      -->
<!--                    Attributes for the <sc> element            -->
<!ENTITY % sc-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    STRIKE THROUGH ATTRIBUTES                  -->
<!--                    Attributes for the <strike> element        -->
<!ENTITY % strike-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SUBSCRIPT ATTRIBUTES                       -->
<!--                    Attributes for the subscript <sub> element -->
<!ENTITY % sub-atts
            "arrange    (stack | stagger)                 #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SUPERSCRIPT ATTRIBUTES                     -->
<!--                    Attributes for the superscript <sup>
                        element                                    -->
<!ENTITY % sup-atts
            "arrange    (stack | stagger)                 #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    UNDERLINE ATTRIBUTES                       -->
<!--                    Attributes for the <underline> element     -->
<!ENTITY % underline-atts
            "underline-style
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    UNDERLINE START ATTRIBUTES                 -->
<!--                    Attributes for the <underline-start>
                        element                                    -->
<!ENTITY % underline-start-atts
            "id         ID                                #REQUIRED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    UNDERLINE END ATTRIBUTES                   -->
<!--                    Attributes for the <underline-end> element -->
<!ENTITY % underline-end-atts
            "rid        IDREF                             #REQUIRED
             specific-use
                        CDATA                             #IMPLIED"  >


<!-- ============================================================= -->
<!--                    APPEARANCE CLASS ELEMENTS                  -->
<!-- ============================================================= -->


<!--                    HORIZONTAL RULE                            -->
<!--                    Defined to allow the user to specify an
                        explicit (non machine-generated) rule.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=hr
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=hr
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=hr
                                                                   -->
<!ELEMENT  hr           EMPTY                                        >


<!-- ============================================================= -->
<!--                    BREAK CLASS ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    LINE BREAK                                 -->
<!--                    Defined to allow the user to specify an
                        explicit (non machine-generated) linebreak.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=break
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=break
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=break
                                                                   -->
<!ELEMENT  break        EMPTY                                        >


<!-- ============================================================= -->
<!--                    EMPHASIS/RENDITION CLASS ELEMENTS          -->
<!-- ============================================================= -->


<!--                    BOLD                                       -->
<!--                    Used to mark text that should appear in bold
                        face type for print or display
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=bold
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=bold
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=bold
                                                                   -->
<!ELEMENT  bold         (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  bold
             %bold-atts;                                             >


<!--                    ITALIC                                     -->
<!--                    Used to mark text that should appear in
                        italic type on output.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=italic
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=italic
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=italic
                                                                   -->
<!ELEMENT  italic       (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  italic
             %italic-atts;                                           >


<!--                    MONOSPACE TEXT (TYPEWRITER TEXT)           -->
<!--                    Used to mark text that should appear in
                        a non-proportional font, such as courier
                        for display or print.  This is common for
                        computer code examples, man-machine
                        dialogues, etc.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=monospace
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=monospace
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=monospace
                                                                   -->
<!ELEMENT  monospace    (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  monospace
             %monospace-atts;                                        >


<!--                    ROMAN                                      -->
<!--                    Used to mark text that should remain in
                        roman script no matter what style the
                        surrounding text takes on.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=roman
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=roman
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=roman
                                                                   -->
<!ELEMENT  roman        (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  roman
             %roman-atts;                                            >



<!--                    SANS SERIF                                 -->
<!--                    Used to mark text that should appear in a
                        special sans-serif font, typically used in
                        math or chemistry
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sans-serif
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sans-serif
                                                                   -->
<!ELEMENT  sans-serif   (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  sans-serif
             %sans-serif-atts;                                       >


<!--                    SMALL CAPS                                 -->
<!--                    Used to mark text that should appear in a
                        font which creates smaller capital letters
                        on output.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sc
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sc
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=sc
                                                                   -->
<!ELEMENT  sc           (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  sc
             %sc-atts;                                               >


<!--                    OVERLINE                                   -->
<!--                    Used to mark text that should appear with a
                        horizontal line above each character in
                        display or print. There is no PE for
                        override because this was added to handle
                        a specific publisher tag set and should not
                        grow beyond what they need.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=overline
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=overline
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=overline
                                                                   -->
<!ELEMENT  overline     (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  overline
             %overline-atts;                                         >


<!--                    STRIKE THROUGH                             -->
<!--                    Used to mark text that should appear with
                        a line through it so as to appear "struck out"
                        on display or print
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=strike
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=strike
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=strike
                                                                   -->
<!ELEMENT  strike       (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  strike
             %strike-atts;                                           >


<!--                    SUBSCRIPT                                  -->
<!--                    A number or expression that is set lower
                        than the baseline and slightly smaller,
                        to act as an inferior or subscript
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sub
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sub
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=sub
                                                                   -->
<!ELEMENT  sub          (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  sub
             %sub-atts;                                              >


<!--                    SUPERSCRIPT                                -->
<!--                    A number or expression that is set higher
                        than the baseline and slightly smaller,
                        to act as a superior or superscript
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=sup
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=sup
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=sup
                                                                   -->
<!ELEMENT  sup          (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  sup
             %sup-atts;                                              >


<!--                    UNDERLINE                                  -->
<!--                    Used to mark text that should appear with a
                        horizontal line below each character in
                        display or print.
                        Details at:
                         http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=underline
                        http://jats.nlm.nih.gov/publishing/tag-library/1.0/index.html?elem=underline
                        http://jats.nlm.nih.gov/articleauthoring/tag-library/1.0/index.html?elem=underline
                                                                   -->
<!ELEMENT  underline    (#PCDATA %emphasized-text;)*                 >
<!ATTLIST  underline
             %underline-atts;                                        >


<!-- ============================================================= -->
<!--                    ADVANCED UNDERLINE AND OVERLINE ELEMENTS
                        (From the Elsevier DTD, used mostly within
                        mathematics, when ordinary MathML underline
                        and overline functions are inadequate. The
                        elements act as milestone tags marking the
                        start and end of over or underlining that
                        may extend across element boundaries.)     -->
<!-- ============================================================= -->


<!--                    OVERLINE START                             -->
<!--                    The start of a milestone-created overline, the
                        end of ornament will be marked by an
                        Overline End element.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=overline-start
                                                                   -->
<!ELEMENT  overline-start
                        EMPTY                                        >
<!ATTLIST  overline-start
             %overline-start-atts;                                   >


<!--                    OVERLINE END                               -->
<!--                    The end of a milestone-created overline, the
                        start of ornament will be marked by an
                        Overline Start element.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=overline-end
                                                                   -->
<!ELEMENT  overline-end EMPTY                                        >
<!ATTLIST  overline-end
             %overline-end-atts;                                     >


<!--                    UNDERLINE START                            -->
<!--                    The start of a milestone-created underline,
                        the end of ornament will be marked by an
                        Underline End element
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=underline-start
                                                                   -->
<!ELEMENT  underline-start
                        EMPTY                                        >
<!ATTLIST  underline-start
             %underline-start-atts;                                  >


<!--                    UNDERLINE END                              -->
<!--                    The end of a milestone-created underline, the
                        start of ornament will be marked by an
                        Underline Start element.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/1.0/index.html?elem=underline-end
                                                                   -->
<!ELEMENT  underline-end
                        EMPTY                                        >
<!ATTLIST  underline-end
             %underline-end-atts;                                    >


<!-- ================== End Format Class Module =================== -->
